---
---

@import "{{ site.theme }}";

/* header.header {position: relative; width: 270px; float: left; margin-top: 28%}; */

h3.liz {padding-top: 3%; }

header ul.liz {list-style: none; height: 40px; padding: 0; width: 270px; }

header ul a { line-height: 100%; font-size: 100%; color: #39c; text-align: left; }

header li.liz {border: none; width: 100%; float: left; color: #fff; }

header ul.liz li + li + li { border: none; width: 100%; }
