---
---

@import "{{ site.theme }}";

/* header.header {position: relative; width: 270px; float: left; margin-top: 28%}; */

header {width: 270px; float: left; position: relative; -webkit-font-smoothing: subpixel-antialiased; }

header h2 {margin-bottom: 0px; }

h3.aida {padding-top: 10px; }

header ul.aida {list-style: none; height: auto; padding: 0; width: 270px; border: none; }

header ul a { line-height: 100%; font-size: 100%; color: #39c; text-align: left; display: inline;}

header li.aida {border: none; width: 100%; float: left; background-color: #fff; height: auto; }

header li.aida.headline {font-size: 120%; font-weight: bold; padding-top: 5%; color: #393939; }

header ul.aida li + li + li { border: none; width: 100%; height: auto; }

footer {width: 270px; float: left; position: relative; bottom: -50px; }

img {padding-top: 15px; padding-bottom: 15px; }

li > ul {margin-bottom: 1%}

li {margin-bottom: 1%}
