<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Image Analysis for Archival Discovery (Aida)</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="https://raw.githubusercontent.com/ProjectAida/ProjectAida.github.io/master/white_logo_color_background@2x.png"/ alt="aida logo">

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
        
         <h2>Project Team</h2>
        
        <ul class="aida">
          <li class="aida headline">University of Nebraska-Lincoln</li>
          <li class="aida"><a href="https://elizabethlorang.com/" title="homepage of Elizabeth Lorang">Elizabeth Lorang</a>, co-director</li>
          <li class="aida"><a href="https://cse.unl.edu/~lksoh/" title="homepage of Leen-Kiat Soh">Leen-Kiat Soh</a>, co-director</li>
          <li class="aida"><a href="https://cse.unl.edu/~yil/" title="homepage of Yi Liu">Yi Liu</a>, research assistant</li>
          <li class="aida">Chulwoo (Mike) Pack, research assistant</li>
        </ul>

        
        <ul class="aida">
          <li class="aida headline">University of Virginia</li>
          <li class="aida"><a href="https://uva.theopenscholar.com/john-obrien" title="homepage of John O'Brien">John O'Brien</a></li>
          <li class="aida">Sarah Berkowitz</li>
          <li class="aida"><a href="https://engineering.virginia.edu/faculty/worthy-martin" title="Worthy Martin homepage">Worthy Martin</a></li>
        </ul>
        
        
<ul class="aida">
  <li class="aida headline">Past Contributors</li>
  <li class="aida">Andrew Barrow (2017)</li>
  <li class="aida">Maanas Varma Datla (2014-2015)</li>
  <li class="aida">Kyle Janvrin (2019)</li>
  <li class="aida">Spencer Kulwicki (2014-2015)</li>
  <li class="aida">Joseph Lunde (2013-2014)</li>
  <li class=aida">Andrew Michael (2018)</li>
 <li class="aida">Delaram Rahimighazikalayeh (2017-2019)</li>
  <li class="aida">Grace Thomas (2013-2015)</li>
        </ul>
        
        <ul class="aida">
          <li class="aida headline">Advisory Board</li>
          <li class="aida">Paul Conway (2014- )</li>
          <li class="aida">Jody DeRidder (2016- )</li>
          <li class="aida">Adam Farquhar (2016- )</li>
          <li class="aida">Emily Gore (2016- )</li>
          <li class="aida">Patricia Hswe (2016- )</li>
          <li class="aida">Bethany Nowviskie (2016- )</li>
          <li class="aida">Ayla Stein (2016- )</li>
          <li class="aida">John Unsworth (2016- )</li>
        </ul>
        
        <ul class="aida">
          <li class="aida headline">Past Advisory Board Members</li>
          <li class="aida">Ryan Cordell (2014-2015)</li>
          <li class="aida">Mary Ellen Ducey (2014-2015)</li>
          <li class="aida">Natalie Houston (2014-2015)</li>
          <li class="aida">Meredith McGill (2014-2015)</li>
        </ul>
        
        <img src="https://raw.githubusercontent.com/ProjectAida/ProjectAida.github.io/master/imls_logo_2c.jpeg" alt="imls logo"/>
        <img src="https://raw.githubusercontent.com/ProjectAida/ProjectAida.github.io/master/neh_logo_horizontal_rgb.jpeg" alt="neh logo"/>
        <img src="https://raw.githubusercontent.com/ProjectAida/ProjectAida.github.io/master/R-UNL.blk.png" style="max-width: 80%; height: auto;" alt="unl logo"/>
        <img src="https://raw.githubusercontent.com/ProjectAida/ProjectAida.github.io/master/uva.png" style="max-width: 80%; height: auto;" alt="uva logo"/>
      </header>
      
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
